.field.is-grouped .control img{
	width: 1.4rem;
	height: 1.4rem;
	cursor: pointer;
}
.field.is-grouped .control {
		margin-bottom: 0 !important;
}
.field.is-grouped > .control:not(:last-child) {
	margin-right: 1.4rem;
}
.field.is-grouped {
	align-items: center;
	margin-top: .2rem;
}
.navbar-item.logo {
	color: $mainViolet;
	background-color:  #f3f3f3;
	padding: .2rem;
    // text-shadow: #fff 0px 0px 1px;
    // -webkit-font-smoothing: antialiased;
	font-size: 2rem;
border: 1px solid $mainViolet;
margin-left: 1rem;
transition: all .1s ease-out;
&:hover {
	color:$mainGreen;
	border: 1px solid $mainGreen;
	transform: scale(1.1);
}
}
.navbar {
	position: relative;
z-index: 0;

}
.navbar-container {
	margin-top: 1rem;
}

.navbar-container{
	wrap:no-wrap;
}
#navMenuColorsuccess-example{
	margin-left: auto;
	display:flex;
	align-items: center;
}

.navbar::after {
    position: absolute;
    content: '';
    display: block;
    width: 95vw;
    height: 63vw;
    background-color: $darkViolet;
    transform: rotate(41deg);
    z-index: -1;
    top: -133%;
    right: -61%;
}
.navbar::before {
	 position: absolute;
    content: '';
    display: block;
    top: -408%;
    right: -60%;
    width: 113vw;
    height: 91vw;
    background-color: $lightViolet;
    transform: rotate(45deg);
    z-index: -2;
}

@media only screen and (max-width: 800px){
	.navbar::before {
    top: -45%;
    right: -56%;
    width: 128vw;
    height: 91vw;
    transform: rotate(45deg);
}

	.navbar::after {
	    position: absolute;
	    content: '';
	    display: block;
	    width: 103vw;
	    height: 63vw;
	    background-color: $darkViolet;
	    transform: rotate(45deg);
	    z-index: -1;
	    top: 33%;
	    right: -61%;
	}

	.navbar-item.logo {

	padding: .1rem;
    // text-shadow: #fff 0px 0px 1px;
    // -webkit-font-smoothing: antialiased;
	font-size: 1.5rem;
border: 1px solid $mainViolet;

}
}

@media screen and (max-width: 1087px){.navbar > .container {
  display: flex;
}}
	