.hero {
	height: 50rem;
}
.main-image {
	margin-top: -5.2rem;
	width: 15rem;
}

.col-image-container {
display: flex;
justify-content: flex-end;
position: relative;
margin-top: 4rem;
}
.main-image-container {
  &:before {
  	content:'BRAYN BRIGOLI';
  	position: relative;
  	letter-spacing: 3.6px;
  	line-height:.7;
  	font-size: 3.5rem;
  	display: block;
  	width: 15rem;
  	height: 10rem;
  	color: $mainOrange;
  	position: relative;
  	right: .23rem;
  	// bottom: -5.1rem;
  }
}
.hero--p{
	font-size: 2rem;
	white-space:nowrap
}

.hero--ul {
	display: flex;

}
.hero--p:not(:first-child){
		padding-left:2rem;
border-left: 2px solid $mainGreen;
}
.hero--p:not(:last-child){

		padding-right:2rem;
}

.is-green {
	&-light {
	color: $lightGreen;
	}
	&-dark {
	color: $darkGreen;
	}
	&-main {
	color: $mainGreen;
	}
}
.text-container {
	background-color: $mainTextBg;
	padding: 1rem;
}
@media only screen and (max-width: 800px) {

.col-image-container {
display: flex;
justify-content: center;
}

.hero--p{
	font-size: 1.2rem;

}

.hero--ul {
	width: 100%;
	display: flex;
	justify-content: center;

}
.hero--p:not(:first-child){
		padding-left:.5rem;
border-left: 2px solid $mainGreen;
}
.hero--p:not(:last-child){

		padding-right:.5rem;
}
.main-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;

}
}

@media only screen and (max-width: 600px){
.main-image {
	margin-top: -6.2rem;
	width: 12rem;
}

.main-image-container {
  &:before {

  	letter-spacing: 2.9px;
  	font-size: 2.8rem;
  	display: block;
  	width: 12rem;
  	height: 10rem;
  	color: $mainOrange;
  	position: relative;
  	right: .18rem;
  	// bottom: -5.1rem;
  }
}

}