.menu{


	li {

	font-size: .9rem;
	z-index: 100;
	a{
		color: $lightGreen;
		font-weight: 500;
	&:hover{
		color:red
	}
	}
}} 
// normal | multiply | screen | multiply |
// darken | lighten | color-dodge | color-burn | hard-light | soft-light |
 //difference | exclusion | hue | saturation | color | luminosity