$mainViolet: #4e00a1;
$darkViolet: #46227f;
$lightViolet: #4d2088;
$mainGray: #302f2f;
$lightGreen: #74aaa5;
$darkGreen: #0d6c62;
$mainGreen: #0d9e04;
$mainYello: #ffc800;
$mainOrange: #ffc800;
$strongTextBg :rgba(252, 252, 252,.95);
$lightTextBg :rgba(252, 252, 252,.5);
