$mainViolet: #4e00a1;
$darkViolet: #46227f;
$lightViolet: #4d2088;
$mainGray: #504c4c;
$lightGreen: #74aaa5;
$darkGreen: #0d6c62;
$mainGreen: #0d9e04;
$mainYello: #ffc800;
$mainOrange: #ffc800;
$mainTextBg :hsla(100, 100%, 98%, .8);
